// *************** SECTION 1 HOME ***************

.home {

    @include sections;
    @include center;
    position: relative;

    h2 {
        font-size: 4rem;
        font-weight: 500;
    }

    img {
        width: 15rem;
    }

}

svg text {
    stroke: #B08968;
    stroke-width: 5;
    font-size: 100px;
    font-weight: 500;
    animation: textAnimate 3s infinite alternate;
}

@keyframes textAnimate {
    0%{
        stroke-dasharray: 0 50%;
    }
    100%{
        stroke-dasharray: 50% 0;
    }
}
