// ********** HOME **********



// ********** ABOUT **********

@media only screen and (min-width: 1170px) {
  
    #cd-timeline {
      margin-top: 3em;
      margin-bottom: 3em;
    }
    #cd-timeline::before {
      left: 50%;
      margin-left: -2px;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
      margin: 4em 0;
    }
    .cd-timeline-block:first-child {
      margin-top: 0;
    }
    .cd-timeline-block:last-child {
      margin-bottom: 0;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
      width: 30px;
      height: 30px;
      left: 50%;
      margin-left: -15px;
      margin-top: 15px;
      /* Force Hardware Acceleration in WebKit */
      transform: translateZ(0);
      backface-visibility: hidden;
    }
}

@media (max-width: 500px) {
    .timeline-content-info-title, .timeline-content-info-date {  
      display: block;
      width:100%;
  } 
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 1.8em;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
      color: white;
      margin-left: 0;
      padding: 1.6em;
      width: 36%;
      margin: 0 5%
    }
    .cd-timeline-content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: #333C42;
    }
    .cd-timeline-content .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
      float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: #333C42;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
      float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
      left: auto;
      right: 122%;
      text-align: right;
    }
}

@media (max-width: 375px) {

    .cd-timeline-content {
      width: 100%;
    }

    .cd-timeline-block {
      width: 19rem;
    }

    .about img {
      width: 7rem;
    }
}

@media (max-width: 411px) {

  .cd-timeline-content {
    width: 80%;
  }

  .about img {
    width: 7rem;
  }

  .cd-time-content h2 {
    font-size: inherit;
  }

  .cd-timeline-content p {
    font-size: x-small;
  }
}


// ********** SKILLS **********

@media (max-width: 640px) {
  .skills {
    width: calc(100% - 63px);
    margin-left: 63px;
    height: auto;
  }
}

// ********** PORTFOLIO **********

@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width: 70%;
    display: flex;
    align-items: center;
  }
  .projet{
    width: 41%;
    margin-left: 30px;
  }
}

// ********** CONTACT **********

@media (max-width: 700px) {
  .media {
    width: 65%;
    margin: 6rem;
    text-align: center;
    margin-left: 12rem;
  }

  .contact h1 {
        margin-left: 15rem;
  }

  .info-wrap .dbox p span {
    font-size: 0.8em;
  }
  
}

// @media (max-width: 700px) {
//   .media {
//     width: 65%;
//     margin: 6rem;
//     text-align: center;
//     margin-left: 12rem;
//   }

//   .contact h1 {
//     margin-left: 15rem;
//   }

//   .info-wrap .dbox p span {
//     font-size: 0.8em;
//   }
  
// }