@mixin sections() {
    position :relative;
    width: 100%;
    min-height: 100vh;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin spaceB {
    display: flex;
    justify-content: space-between;
}