// *************** MIXIN ***************

@mixin sections() {
    position :relative;
    width: 100%;
    min-height: 100vh;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin spaceB {
    display: flex;
    justify-content: space-between;
}

@mixin skillsLine {
    max-width: 800px;
    height: 1rem;
    margin: 0 0 10px 0;
    position: relative;
    display: inline-block;
    background-color: #b08968;
}